<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-fg-config" version="0.1.1" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>FreshGrade Config</name>
    <author>FreshGrade</author>
    <description>Cordova / PhoneGap Plugin to allow 'Arbitrary Loads' by adding a declaration to the Info.plist file to bypass the iOS 9 App Transport Security. Also adds required iOS 10 device permissions.</description>
    <keywords>cordova, ios, app, security, transport, http, https, ats, ssl, tls, nsapptransportsecurity, nsallowsarbitraryloads</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSExceptionDomains</key>
                <dict>
                    <key>amazonaws.com</key>
                    <dict>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                        <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                    </dict>
                    <key>mixpanel.com</key>
                    <dict>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                        <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                    </dict>
                    <key>mxpnl.com</key>
                    <dict>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                        <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                    </dict>
                    <key>bugsense.com</key>
                    <dict>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                        <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                    </dict>
                    <key>sd36.bc.ca</key>
                    <dict>
                        <key>NSIncludesSubdomains</key>
                        <true/>
                        <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
                        <true/>
                    </dict>
                </dict>
            </dict>
        </config-file>
        <config-file platform="ios" parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>This lets you take photos and videos and add them to your FreshGrade portfolio.</string>
        </config-file>
        <config-file platform="ios" parent="NSPhotoLibraryUsageDescription" target="*-Info.plist">
            <string>This lets you add photos and videos to your FreshGrade portfolio.</string>
        </config-file>
        <config-file platform="ios" parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>This lets you record audio to your FreshGrade portfolio.</string>
        </config-file>
    </platform>
</plugin>